*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font: size 30px;
	color: black;
	background-color:#41ec0d;
	font-family:Arial, Helvetica, sans-serif;
}

/* Hyperlink Styles: */

a, a:visited {
	color:#1a1615;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	text-shadow:0 1px 1px black;
}

h1{
	/* The logo text */
	font: size 40px;;
	padding:0.5em 0 0;
	text-transform:uppercase;
}

h3{
	/* The slogan text */
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}


h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

p{
	line-height:1.5em;
	padding-bottom:1em;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#24a713;
	border-bottom:1px solid #8510c9;
	margin:1em 0;
	overflow:hidden;
}

div.article .line{
	/* The dividing line inside of the article is darker: */
	background-color:white;
	border-bottom-color:#b81538;
	margin:1.3em 0;
}

div.footer .line{
	margin:2em 0;
}

div.nav{
	background:url(img/gradient_light.jpg) repeat-x 50% 50% #cf1111;
	padding:0 5px;
	
	right:0;
	top:4em;
	
	border:1px solid #5213b9;

	-moz-box-shadow:0 1px 1px #11ca30;
	-webkit-box-shadow:0 1px 1px #d30e0e;
	box-shadow:0 1px 1px #4b0ebd;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

div.nav ul li{
	display:inline;
}

div.nav ul li a,
div.nav ul li a:visited{
	color:#1d1111;
	display:block;
	float:left;
	font: size 20px;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
}

div.nav ul li a:hover{
	text-decoration:none;
	background-color:#13082c;
}

div.nav, div.article, div.nav ul li a,div.figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

div.article{
	background-color: white;
	margin:3em 0;
	padding:20px;
	
	text-shadow:0 2px 0 rgb(189, 13, 13);
}

div.figure{
	border:3px solid #3c0c94;
	float:right;
	height:290px;
	margin-left:15px;
	overflow:hidden;
	
}

div.figure:hover{
	-moz-box-shadow:0 0 2px #aa1219;
	-webkit-box-shadow:0 0 2px #c41212;
	box-shadow:0 0 2px #140879;
}

div.figure img{
	margin-left:-60px;
}

/* Footer styling: */

div.footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}


div.footer p{
	margin-bottom:-2.5em;
	position:relative;
}

div.footer a,div.footer a:visited{
	color:#14a13f;
	background-color:#400cd1;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

div.footer a:hover{
	text-decoration:none;
	background-color:#16070a;
}

div.footer a.by{
	float:left;

}

div.footer a.up{
	float:right;
}
#foto {
	animation-name: foto-in-moto;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function:linear;
	animation-direction:alternate;
}

@keyframes foto-in-moto {
0%{
	background: red;
	transform:translate(0px,10px);
}
50%{
	background: yellow;
	transform:translate(0px,10px);
}
100%{
	background: rgb(152, 212, 32);
	transform:translate(0px,20px);
}

}
#claudio 
	{
		animation-name: foto-in-traslazione;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function:linear;
		animation-direction: alternate;
}

@keyframes foto-in-traslazione {
		0%{
			transform:scale3d(1,1,1);
		}
		
		100%{
			transform:scale3d(1.2,1.2,1.2);
		}
}
